<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>爬虫引擎管理</title>
    <link rel="shortcut icon" href="#" />
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" role="main">
    <div class="page-header">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#">爬虫引擎控制台</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 5%">序号</th>
                            <th style="width: 15%">爬虫名称</th>
                            <th style="width: 15%">爬虫状态</th>
                            <th style="width: 15%">队列中剩余任务</th>
                            <th style="width: 15%">已完成任务</th>
                            <th>操作按钮</th>
                        </tr>
                    </thead>
                    <tbody id="content">
                    <!-- filled using Ajax -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        load();
    });

    function load() {
        $("#content").children().remove();

        $.getJSON("http://47.97.7.119:8012/netdiscovery/spiders/", function(result) {
            var index = 0;
            $.each(result.data, function (key, val) {
                index += 1;
                $("<tr>" +
                    "<td>" + index + "</td>"+
                    "<td>" + val.spiderName + "</td>"+
                    "<td>" + getSpiderStatusName(val.spiderStatus) + "</td>"+
                    "<td>" + val.leftRequestSize + "</td>"+
                    "<td>" + (val.totalRequestSize - val.leftRequestSize) + "</td>"+
                    "<td>" +
                        "<button class='btn btn-primary btnRefresh' id='btnRefresh'>" + "刷新" +
                        "</button>" + "&nbsp;&nbsp;" +
                        "<button class='btn btn-warning btnPause' data-id='" + val.spiderName + "'>" + "暂停" +
                        "</button>" + "&nbsp;&nbsp;" +
                        "<button class='btn btn-success btnResume' data-id='" + val.spiderName + "'>" + "继续" +
                        "</button>" + "&nbsp;&nbsp;" +
                        "<button class='btn btn-danger btnStop' data-id='" + val.spiderName + "'>" + "停止" +
                        "</button>" +
                    "</td>" +
                "</tr>").appendTo("#content");
            });

            initButtonAction();
        });
    }

    function initButtonAction() {
        $(".btnRefresh").click(function() {
            load();
        });

        $(".btnPause").click(function() {
            var spiderName = $(this).data("id");
            changeSpiderStatus(spiderName, 2);
        });

        $(".btnResume").click(function() {
            var spiderName = $(this).data("id");
            changeSpiderStatus(spiderName, 3);
        });

        $(".btnStop").click(function() {
            var spiderName = $(this).data("id");
            changeSpiderStatus(spiderName, 4);
        });
    }

    function changeSpiderStatus(spiderName, toStatus) {
        $.ajax({
            method: "POST",
            url: "http://47.97.7.119:8012/netdiscovery/spider/"+spiderName+"/status",
            data: JSON.stringify({status: toStatus})
        }).done(function () {
            load();
        });
    }

    function getSpiderStatusName(status) {
        var html = "";
        var statusName = "";
        switch(status) {
            case 0:
                statusName = "初始化";
                html = "<span class='label label-default'>"+statusName+"</span>";
                break;
            case 1:
                statusName = "运行";
                html = "<span class='label label-success'>"+statusName+"</span>";
                break;
            case 2:
                statusName = "暂停";
                html = "<span class='label label-warning'>"+statusName+"</span>";
                break;
            case 3:
                statusName = "继续";
                html = "<span class='label label-success'>"+statusName+"</span>";
                break;
            case 4:
                statusName = "停止";
                html = "<span class='label label-danger'>"+statusName+"</span>";
                break;
        }
        return html;
    }
</script>
</body>
</html>