<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>爬虫引擎监控</title>
    <link rel="stylesheet" href="//unpkg.com/element-ui@2.2.0/lib/theme-chalk/index.css"/>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-tag type="danger">说明：爬虫引擎里正在运行的爬虫状态</el-tag>
            <el-button type="primary" icon="el-icon-search" @click="querySpiders()" round>查询</el-button>
            <el-pagination layout="total" :current-page.sync="currentPageIndex" :total="totalCount"></el-pagination>
        </el-header>
        <el-main>
            <el-table ref="spiderTable" :data="spiderListData" style="width:100%" max-height="400" border highlight-current-row>
                <el-table-column type="index" align="center" width="100"></el-table-column>
                <el-table-column prop="spiderName" align="center" label="爬虫名称" width="200" sortable></el-table-column>
                <el-table-column prop="spiderStatus" align="center" label="爬虫状态" width="200" :formatter="formatStatus" sortable></el-table-column>
                <el-table-column prop="leftRequestSize" align="center" label="队列中剩余任务" width="200" sortable></el-table-column>
                <el-table-column prop="totalRequestSize" align="center" label="已完成任务数" width="200" sortable></el-table-column>
                <el-table-column fixed="right" align="center" label="操作">
                    <template slot-scope="scope">
                        <el-button @click="changeStatus(scope.row,2)" type="warning" size="small" round>暂停</el-button>
                        <el-button @click="changeStatus(scope.row,3)" type="success" size="small" round>继续</el-button>
                        <el-button @click="changeStatus(scope.row,4)" type="danger" size="small" round>停止</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-main>
    </el-container>
</div>
</body>
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.2.0/lib/index.js"></script>
<script src="//unpkg.com/axios@0.18.0/dist/axios.js"></script>
<script>
    var _api_spiders = '/spiders';
    var _api_spiderstatus = '/spiderstatus';
    var statuslist = new Array("初始化","运行","暂停","运行","停止");

    var Main = {
        data() {
            return {
                spiderListData:[],
                currentPageIndex:1,
                totalCount:0
            }
        },
        methods: {
            querySpiders() {
                var that = this;
                axios.get(_api_spiders)
                    .then(function(res){
                        that.spiderListData = res.data.data;
                        that.totalCount = res.data.data.length;
                    })
                    .catch(function(err){
                        console.log(err);
                    });
            },
            changeStatus(row, toStatus) {
                this.$refs.spiderTable.setCurrentRow(row);

                var that = this;
                axios.post(_api_spiderstatus, {
                        spiderName:row.spiderName,
                        toStatus:toStatus
                    })
                    .then(function(res){
                        console.log(res)
                        if(res.data.code == 200) {
                            that.$message({
                                message: '状态修改成功',
                                type: 'success'
                            });
                            row.spiderStatus = toStatus;
                        } else {
                            that.$message.error('状态修改失败');
                        }
                    })
                    .catch(function(err){
                        console.log(err);
                    });
            },
            formatStatus(row, column, cellValue) {
                var statusName = "";
                switch(cellValue) {
                    case 0:
                    case 1:
                    case 2:
                    case 3:
                    case 4:
                        statusName = statuslist[cellValue];
                        break;
                    default:
                        break;
                }
                return statusName;
            }
        }
    }

    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
</html>